/*
* Style Sheet - Bailey Nottingham & Scott Perry
*/

#incorrectPassword {
  color: red;
}
body {
  margin: 0;
}
#visaIMG {
  height: 19px;
  width: 50px;
}

#mastercardIMG {
  height: 19px;
  width: 50px;
}

#americanexpressIMG {
  height: 40px;
  width: 40px;
}

#discoverIMG {
  height: 19px;
  width: 50px;
}

img {
  width: 250px;
  height: 250px;
}
.item {
  min-width: 20%;
  float: left;
  margin-bottom: 20px;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

#footer{
  background-color: lightgreen;
  text-align: center;
  clear: both;
}

.header{
  padding: 1px;
  background-color: #5cd65c;
}

@font-face {
  font-family: sportsFont;
  src: url('SFSportsNight.ttf');
}

@font-face {
  font-family: sportsFont2;
  src: url('TeamSpiritNF.ttf');
}

h1 {
  font-family: sportsFont;
  font-size: 50px;
  background-color: Azure;
  color: black;
}

#logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.welcome {
  font-family: sportsFont;
  font-size: 30px;
}

.homeButtons {
  background-color: black;
  color: white;
  font-family: sportsFont;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
}
