/*
* Style Sheet - Bailey Nottingham & Scott Perry
*/

#incorrectPassword {
  color: red;
}
body {
  margin: 0;
}
#visaIMG {
  height: 19px;
  width: 50px;
}

#mastercardIMG {
  height: 19px;
  width: 50px;
}

#americanexpressIMG {
  height: 40px;
  width: 40px;
}

#discoverIMG {
  height: 19px;
  width: 50px;
}

img {
  width: 250px;
  height: 250px;
  margin: auto;
}
.item {
  text-align: center;
  border-style: ridge;
  border-radius: 25px;
  border-color: gray;
  min-width: 20%;
  float: left;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1.25%;
}

#footer{
  background-color: #5cd65c;
  text-align: center;
  clear: both;
  height: 50px;
}

.header {
  padding: 1px;
  background-color: #5cd65c;
  text-align: center;
}

@font-face {
  font-family: sportsFont;
  src: url('SFSportsNight.ttf');
}

@font-face {
  font-family: sportsFont2;
  src: url('TeamSpiritNF.ttf');
}

h1 {
  font-family: sportsFont;
  font-size: 50px;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

#logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.welcome {
  font-family: sportsFont;
  font-size: 30px;
}

.homeButtons {
  background-color: black;
  color: white;
  font-family: sportsFont;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.itemCart {
  font-family: sportsFont;
  font-size: 30px;
  border: solid;
  background-color: white
}

.nums {
  font-family: monospace;
}

.report {
  font-family: monospace;
  font-size: 12pt;
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color:  gray;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.cartImages {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.priceTag {
  margin: 0;

}
.titleCart {
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}
.quantity {
  margin: 0;
}

.quantityP {
  margin: 0;
}

.priceP {
  margin: 0;
  padding-bottom: 10px;
}
.pricesAndQuantity {
  float: right;
  padding-right: 50px;
}
.removeCart {
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: sportsFont;
}
.removeItemButton {
  font-family: sportsFont;
}
#cartBody {
  background-color: #5cd65c;
}
#cartTitle {
    text-align: center;
    margin: 0;
}

.cartButtons {
  background-color: black;
  color: white;
  font-family: sportsFont;
  font-size: 12px;
  padding: 6px;
  margin-top: 5px;
  border-radius: 10px;
}

#subtotal {
  font-family: sportsFont;
  font-size: 30px;
  margin: 5px;
}

#emptyCart {
  font-family: sportsFont;
  font-size: 50px;
  margin: 15px;
  text-align: center;
}
#homealone {
  display: block;
  margin: 0 auto;
}
#emptycarttext {
  font-family: sportsFont;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
#checkout {
  padding-top: 50px;
}
#Shipping {
  font-family: "Helvetica", sans-serif;
  float: left;
  margin-right: 6em;
  text-align: right;
  width: 300px;
  margin-left: 115px;
}
#Summary {
  float: left;
  font-family: "Helvetica", sans-serif;
  text-align: left;
  width: 300px;
}
#Payment {
  font-family: "Helvetica", sans-serif;
  float: left;
  margin-right: 6em;
  text-align: left;
  width: 300px;
}
#checkout input {
  margin-top: 5px;
  margin-bottom: 5px;
}
